name: Docker Compose

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: text db
        run: |
          docker-compose up -d db  # Iniciar el contenedor de la base de datos en segundo plano
          sleep 10  # Esperar 10 segundos para que el contenedor se inicie completamente
          docker-compose ps  # Verificar el estado de los contenedores 
    #if:sucess() merch and push
      - name: Build and push images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker-compose build
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          docker-compose push
          
